### Pandas Practice geaksforgeaks
https://www.geeksforgeeks.org/pandas-practice-excercises-questions-and-solutions/?ref=lbp

### Different way to create Dataframe

In [3]:
!pip3 install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
Requirement already satisfied: numpy>=1.26.0 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.1)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.7/12.7 MB 1.3 MB/s eta 0:00:0000:0100:01m
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: tzdata, pandas
Successfully installed pandas-2.2.3 tzdata-2024.2
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager, possibly rendering your system unusable.It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv. Use the --root-user-action option if you know what you are doing and want to suppress this warning.

In [7]:
# Syntax
# pandas.DataFrame(data,index,columns)
import pandas as pd

# Create empty dataframe
df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

In [9]:
# Create DataFrame from lists of lists

data = [['tom',10], ['nick',15], ['juli',14]]

df=pd.DataFrame(data, columns=['Name','Age'])

print(df)

   Name  Age
0   tom   10
1  nick   15
2  juli   14

In [18]:
# Create DataFrame from Dictionary of  ndArray/Lists
# all the arrays must be of the same length

data = {'Name': ['Tom', 'nick', 'krish', 'jack'],
        'Age': [20,21,19,18]}
df=pd.DataFrame(data)

print(df)


#With giving Lables
data = {'Name': ['Tom', 'Jack', 'nick', 'juli'],
        'marks': [99, 98, 95, 90]}

# Creates pandas DataFrame.
df = pd.DataFrame(data, index=['rank1',
                               'rank2',
                               'rank3',
                               'rank4'])
print(df)


# list of name, degree, score
nme = ["aparna", "pankaj", "sudhir", "Geeku"]
deg = ["MBA", "BCA", "M.Tech", "MBA"]
scr = [90, 40, 80, 98]
 
# dictionary of lists 
dict = {'name': nme, 'degree': deg, 'score': scr} 
   
df = pd.DataFrame(dict)
   
print(df)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18
       Name  marks
rank1   Tom     99
rank2  Jack     98
rank3  nick     95
rank4  juli     90
     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

In [12]:
# Create DataFrame from List of DIctionaries
data = [{'a':1, 'b':2, 'c':3},
        {'a':10, 'b':20, 'c':30}]
df=pd.DataFrame(data)

print(df)

# List of Dictionaries and row indecies

data = [{'b':2, 'c':3},
        {'a':10, 'b':20, 'c':30}]
df=pd.DataFrame(data,index=['first','second'])

print(df)

    a   b   c
0   1   2   3
1  10  20  30
         b   c     a
first    2   3   NaN
second  20  30  10.0

In [13]:
# Create DataFrame from a dictionary of Series
d = {'one':pd.Series([10,20,30,40],index=['a','b','c','d']),
     'two':pd.Series([10,20,30,40],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df)

   one  two
a   10   10
b   20   20
c   30   30
d   40   40

In [22]:
# Create DataFrame using zip()

Name=['tom','krish','nick','juli']
Age=[25,30,26,22]
list_of_tuples = list(zip(Name,Age))
print(list_of_tuples)
df=pd.DataFrame(list_of_tuples,columns=['Name','Age'])
print(df)


# list of strings
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks']

# list of int
lst2 = [11, 22, 33, 44, 55, 66, 77]

# Calling DataFrame constructor after zipping
# both lists, with columns specified
df = pd.DataFrame(list(zip(lst, lst2)),
               columns =['Name', 'val'])

## Change Datatype, convert 'val' column to float

df['val']=df['val'].astype(float)

print(df)

[('tom', 25), ('krish', 30), ('nick', 26), ('juli', 22)]
    Name  Age
0    tom   25
1  krish   30
2   nick   26
3   juli   22
     Name   val
0   Geeks  11.0
1     For  22.0
2   Geeks  33.0
3      is  44.0
4  portal  55.0
5     for  66.0
6   Geeks  77.0

In [39]:
# Create DataFrame using multi-dimensional list
data = [['tom', 25], ['krish', 30],['nick', 26], ['juli', 22]]

df=pd.DataFrame(data,columns=['Name','Age'])
print(df)

# Create Pandas Dataframe from 2D List using pd.DataFrame.from_records()
columns = ['Name','Age']
df=pd.DataFrame.from_records(data, columns=columns)
print(df)

# Creating DataFrame using pd.DataFrame.from_dict()
# df = pd.DataFrame.from_dict(dict(zip(columns, zip(*data))))
# print(df)

    Name  Age
0    tom   25
1  krish   30
2   nick   26
3   juli   22
    Name  Age
0    tom   25
1  krish   30
2   nick   26
3   juli   22

In [28]:
# convert DataFrame to list

print(df.values)
my_list = df.values.tolist()
print(my_list)

[['tom' 25]
 ['krish' 30]
 ['nick' 26]
 ['juli' 22]]
[['tom', 25], ['krish', 30], ['nick', 26], ['juli', 22]]

In [32]:
# concatenate multiple DataFrames row-wise
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
print(df1)
print(df2)
df_combined=pd.concat([df1,df2],ignore_index=True)
print(df_combined)

   A  B
0  1  3
1  2  4
   A  B
0  5  7
1  6  8
   A  B
0  1  3
1  2  4
2  5  7
3  6  8

In [43]:
# Handling Missing Values
import numpy as np
 
# Creating a DataFrame with missing values from a list of lists
data = [['Geek1', 28, 'Engineer'],
        ['Geek2', None, 'Data Scientist'],
        ['Geek3', 32, None]]
 
columns = ['Name', 'Age', 'Occupation']
 
df = pd.DataFrame(data, columns=columns)
df = df.replace({None: np.nan})  # Replacing None with NaN for missing values
print(df)

    Name   Age      Occupation
0  Geek1  28.0        Engineer
1  Geek2   NaN  Data Scientist
2  Geek3  32.0             NaN

In [58]:
# Creating a DataFrame with different data types from a list of lists
data = [['Geek1', 28, 'Engineer'],
        ['Geek2', 25, 'Data Scientist'],
        ['Geek3', '32', 'Manager'],  # Age represented as a string
        ['Geek3', '32a', 'Manager']]  # Age represented as a string

columns=['Name','Age','Occupation']

df=pd.DataFrame(data,columns=columns)
print(df,"\n")
df.info()
# df['Age']=pd.to_numeric(df['Age'])
df['Age']=pd.to_numeric(df['Age'],errors='coerce')  # in case of invalid values it will convert to NaN
df.info()
print(df)

    Name  Age      Occupation
0  Geek1   28        Engineer
1  Geek2   25  Data Scientist
2  Geek3   32         Manager
3  Geek3  32a         Manager

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        4 non-null      object
 1   Age         4 non-null      object
 2   Occupation  4 non-null      object
dtypes: object(3)
memory usage: 228.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        4 non-null      object
 1   Age         3 non-null      float64
 2   Occupation  4 non-null      object
dtypes: float64(1), object(2)
memory usage: 228.0+ bytes
    Name   Age      Occupation
0  Geek1  28.0        Engineer
1  Geek2  25.0  Data Scientist
2  Geek3  32.0         Manager
3  Geek3   NaN         Manager

In [59]:
# Defining column names using Dataframe.columns() function
df.columns = ['Col_1', 'Col_2', 'Col_3']
print(df,"\n")

# transpose of dataframe
df=df.transpose()
print(df)

   Col_1  Col_2           Col_3
0  Geek1   28.0        Engineer
1  Geek2   25.0  Data Scientist
2  Geek3   32.0         Manager
3  Geek3    NaN         Manager

              0               1        2        3
Col_1     Geek1           Geek2    Geek3    Geek3
Col_2      28.0            25.0     32.0      NaN
Col_3  Engineer  Data Scientist  Manager  Manager

day1 end: 
next day start point: 
https://www.geeksforgeeks.org/creating-a-pandas-dataframe-using-list-of-tuples/?ref=lbp