### Pandas Practice geaksforgeaks
https://www.geeksforgeeks.org/pandas-practice-excercises-questions-and-solutions/?ref=lbp

### Different way to create Dataframe

In [2]:
!pip3 install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.1.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.1)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.7/12.7 MB 2.5 MB/s eta 0:00:0000:0100:01
Downloading numpy-2.1.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.0/16.0 MB 2.7 MB/s eta 0:00:0000:0100:01
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.1.2 pandas-2.2.3 tzdata-2024.2
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager, possibly rendering your system unusable.It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv. Use the --root-user-action option if you know what you are doing and want to suppress this warning.

In [5]:
# Syntax
# pandas.DataFrame(data,index,columns)
import pandas as pd

# Create empty dataframe
df = pd.DataFrame()

print(df)

Empty DataFrame
Columns: []
Index: []

In [6]:
# Create DataFrame from lists of lists

data = [['tom',10], ['nick',15], ['juli',14]]

df=pd.DataFrame(data, columns=['Name','Age'])

print(df)

   Name  Age
0   tom   10
1  nick   15
2  juli   14

In [7]:
# Create DataFrame from Dictionary of  ndArray/Lists
# all the arrays must be of the same length

data = {'Name': ['Tom', 'nick', 'krish', 'jack'],
        'Age': [20,21,19,18]}
df=pd.DataFrame(data)

print(df)


#With giving Lables
data = {'Name': ['Tom', 'Jack', 'nick', 'juli'],
        'marks': [99, 98, 95, 90]}

# Creates pandas DataFrame.
df = pd.DataFrame(data, index=['rank1',
                               'rank2',
                               'rank3',
                               'rank4'])
print(df)


# list of name, degree, score
nme = ["aparna", "pankaj", "sudhir", "Geeku"]
deg = ["MBA", "BCA", "M.Tech", "MBA"]
scr = [90, 40, 80, 98]
 
# dictionary of lists 
dict = {'name': nme, 'degree': deg, 'score': scr} 
   
df = pd.DataFrame(dict)
   
print(df)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18
       Name  marks
rank1   Tom     99
rank2  Jack     98
rank3  nick     95
rank4  juli     90
     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

In [8]:
# Create DataFrame from List of DIctionaries
data = [{'a':1, 'b':2, 'c':3},
        {'a':10, 'b':20, 'c':30}]
df=pd.DataFrame(data)

print(df)

# List of Dictionaries and row indecies

data = [{'b':2, 'c':3},
        {'a':10, 'b':20, 'c':30}]
df=pd.DataFrame(data,index=['first','second'])

print(df)

    a   b   c
0   1   2   3
1  10  20  30
         b   c     a
first    2   3   NaN
second  20  30  10.0

In [13]:
# Create DataFrame from a dictionary of Series
d = {'one':pd.Series([10,20,30,40],index=['a','b','c','d']),
     'two':pd.Series([10,20,30,40],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df)

   one  two
a   10   10
b   20   20
c   30   30
d   40   40

In [22]:
# Create DataFrame using zip()

Name=['tom','krish','nick','juli']
Age=[25,30,26,22]
list_of_tuples = list(zip(Name,Age))
print(list_of_tuples)
df=pd.DataFrame(list_of_tuples,columns=['Name','Age'])
print(df)


# list of strings
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks']

# list of int
lst2 = [11, 22, 33, 44, 55, 66, 77]

# Calling DataFrame constructor after zipping
# both lists, with columns specified
df = pd.DataFrame(list(zip(lst, lst2)),
               columns =['Name', 'val'])

## Change Datatype, convert 'val' column to float

df['val']=df['val'].astype(float)

print(df)

[('tom', 25), ('krish', 30), ('nick', 26), ('juli', 22)]
    Name  Age
0    tom   25
1  krish   30
2   nick   26
3   juli   22
     Name   val
0   Geeks  11.0
1     For  22.0
2   Geeks  33.0
3      is  44.0
4  portal  55.0
5     for  66.0
6   Geeks  77.0

In [39]:
# Create DataFrame using multi-dimensional list
data = [['tom', 25], ['krish', 30],['nick', 26], ['juli', 22]]

df=pd.DataFrame(data,columns=['Name','Age'])
print(df)

# Create Pandas Dataframe from 2D List using pd.DataFrame.from_records()
columns = ['Name','Age']
df=pd.DataFrame.from_records(data, columns=columns)
print(df)

# Creating DataFrame using pd.DataFrame.from_dict()
# df = pd.DataFrame.from_dict(dict(zip(columns, zip(*data))))
# print(df)

    Name  Age
0    tom   25
1  krish   30
2   nick   26
3   juli   22
    Name  Age
0    tom   25
1  krish   30
2   nick   26
3   juli   22

In [28]:
# convert DataFrame to list

print(df.values)
my_list = df.values.tolist()
print(my_list)

[['tom' 25]
 ['krish' 30]
 ['nick' 26]
 ['juli' 22]]
[['tom', 25], ['krish', 30], ['nick', 26], ['juli', 22]]

In [32]:
# concatenate multiple DataFrames row-wise
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})
print(df1)
print(df2)
df_combined=pd.concat([df1,df2],ignore_index=True)
print(df_combined)

   A  B
0  1  3
1  2  4
   A  B
0  5  7
1  6  8
   A  B
0  1  3
1  2  4
2  5  7
3  6  8

In [43]:
# Handling Missing Values
import numpy as np
 
# Creating a DataFrame with missing values from a list of lists
data = [['Geek1', 28, 'Engineer'],
        ['Geek2', None, 'Data Scientist'],
        ['Geek3', 32, None]]
 
columns = ['Name', 'Age', 'Occupation']
 
df = pd.DataFrame(data, columns=columns)
df = df.replace({None: np.nan})  # Replacing None with NaN for missing values
print(df)

    Name   Age      Occupation
0  Geek1  28.0        Engineer
1  Geek2   NaN  Data Scientist
2  Geek3  32.0             NaN

In [58]:
# Creating a DataFrame with different data types from a list of lists
data = [['Geek1', 28, 'Engineer'],
        ['Geek2', 25, 'Data Scientist'],
        ['Geek3', '32', 'Manager'],  # Age represented as a string
        ['Geek3', '32a', 'Manager']]  # Age represented as a string

columns=['Name','Age','Occupation']

df=pd.DataFrame(data,columns=columns)
print(df,"\n")
df.info()
# df['Age']=pd.to_numeric(df['Age'])
df['Age']=pd.to_numeric(df['Age'],errors='coerce')  # in case of invalid values it will convert to NaN
df.info()
print(df)

    Name  Age      Occupation
0  Geek1   28        Engineer
1  Geek2   25  Data Scientist
2  Geek3   32         Manager
3  Geek3  32a         Manager

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        4 non-null      object
 1   Age         4 non-null      object
 2   Occupation  4 non-null      object
dtypes: object(3)
memory usage: 228.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        4 non-null      object
 1   Age         3 non-null      float64
 2   Occupation  4 non-null      object
dtypes: float64(1), object(2)
memory usage: 228.0+ bytes
    Name   Age      Occupation
0  Geek1  28.0        Engineer
1  Geek2  25.0  Data Scientist
2  Geek3  32.0         Manager
3  Geek3   NaN         Manager

In [59]:
# Defining column names using Dataframe.columns() function
df.columns = ['Col_1', 'Col_2', 'Col_3']
print(df,"\n")

# transpose of dataframe
df=df.transpose()
print(df)

   Col_1  Col_2           Col_3
0  Geek1   28.0        Engineer
1  Geek2   25.0  Data Scientist
2  Geek3   32.0         Manager
3  Geek3    NaN         Manager

              0               1        2        3
Col_1     Geek1           Geek2    Geek3    Geek3
Col_2      28.0            25.0     32.0      NaN
Col_3  Engineer  Data Scientist  Manager  Manager

day1 end: 
next day start point: 
https://www.geeksforgeeks.org/creating-a-pandas-dataframe-using-list-of-tuples/?ref=lbp

In [16]:
## Creating a Pandas datafre
# data in the form of list of tuples

data = [('Peter', 18, 7),
        ('Riff', 15, 6),
        ('John', 17, 8),
        ('Michel', 18, 7),
        ('Sheli', 17, 5) ]

df = pd.DataFrame(data,columns=["Name","Age","Score"])

print(df)


#Using from_records(),
# faster, especially with large datasets, since it is optimized for structured data (like a list of tuples, or dictionaries).

df=pd.DataFrame.from_records(data, columns=["Name","Age","Score"])

print(df)


# Using pivot table

a = df.pivot(index="Name", columns="Score", values="Age")
print(a)

     Name  Age  Score
0   Peter   18      7
1    Riff   15      6
2    John   17      8
3  Michel   18      7
4   Sheli   17      5
     Name  Age  Score
0   Peter   18      7
1    Riff   15      6
2    John   17      8
3  Michel   18      7
4   Sheli   17      5
Score      5     6     7     8
Name
John     NaN   NaN   NaN  17.0
Michel   NaN   NaN  18.0   NaN
Peter    NaN   NaN  18.0   NaN
Riff     NaN  15.0   NaN   NaN
Sheli   17.0   NaN   NaN   NaN

In [35]:
# Create a Pandas DataFrame from List of Dicts 

# List of Dicts
data = [{'Geeks': 'dataframe', 'For': 'using', 'geeks': 'list'}, 
        {'Geeks':10, 'For': 20, 'geeks': 30}] 

# using from_records()

df=pd.DataFrame.from_records(data,index=['1','2'])
print(df)


# using from_dict

df=pd.DataFrame.from_dict(data)
print(df)

# using json_normalize()
df=pd.json_normalize(data)
print(df)

# Using pd.DataFrame
# Pandas DataFrame by lists of dicts without matching key-value pair 
data = [{'Geeks': 'dataframe', 'For': 'using', 'geeks': 'list', 'Portal': 10000}, 
        {'Geeks':10, 'For': 20, 'geeks': 30}]  

df=pd.DataFrame(data)
df1=pd.DataFrame(data,index=["1","2"],columns=["Geeks","For"])
df2=pd.DataFrame(data,index=["1","2"])

print(df)
print(df1)
print(df2)

       Geeks    For geeks
1  dataframe  using  list
2         10     20    30
       Geeks    For geeks
0  dataframe  using  list
1         10     20    30
       Geeks    For geeks
0  dataframe  using  list
1         10     20    30
       Geeks    For geeks   Portal
0  dataframe  using  list  10000.0
1         10     20    30      NaN
       Geeks    For
1  dataframe  using
2         10     20
       Geeks    For geeks   Portal
1  dataframe  using  list  10000.0
2         10     20    30      NaN

In [28]:


# difference b/w from_records and from_dict, 
# The key difference isn't necessarily in the output but in the efficiency and optimization

# from_dict() is faster when dealing with columnar data (like dictionaries of lists), 
# as pandas can assign columns directly.
# from_records() performs better when handling row-wise data, like lists of tuples or dictionaries, 
# as it can process each record efficiently and handle row-based operations seamlessly.


# dictionary of list
data1 = {
    'A': [1, 2, 3],
    'B': [4, 5, 6]
}
# Dictionary of dictionaries
data2 = {
    0: {'A': 1, 'B': 4},
    1: {'A': 2, 'B': 5},
    2: {'A': 3, 'B': 6}
}

# List of tuples
data3 = [
    (1, 4),
    (2, 5),
    (3, 6)
]

# List of dictionaries
data4 = [
    {'A': 1, 'B': 4},
    {'A': 2, 'B': 5},
    {'A': 3, 'B': 6}
]

df1=pd.DataFrame.from_dict(data1)
df2=pd.DataFrame.from_dict(data2)
df3=pd.DataFrame.from_dict(data3)
df4=pd.DataFrame.from_dict(data4)
print(df1)
print(df2)
print(df3)
print(df4)


df1=pd.DataFrame.from_records(data1)
df2=pd.DataFrame.from_records(data2)
df3=pd.DataFrame.from_records(data3)
df4=pd.DataFrame.from_records(data4)
print(df1)
print(df2)
print(df3)
print(df4)

   A  B
0  1  4
1  2  5
2  3  6
   0  1  2
A  1  2  3
B  4  5  6
   0  1
0  1  4
1  2  5
2  3  6
   A  B
0  1  4
1  2  5
2  3  6
   A  B
0  1  4
1  2  5
2  3  6
   0  1  2
A  1  2  3
B  4  5  6
   0  1
0  1  4
1  2  5
2  3  6
   A  B
0  1  4
1  2  5
2  3  6

| Structure                     | Example                                   | Orientation  | Notes/Use Case                                                                                                                                              |
|-------------------------------|-------------------------------------------|--------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------|
| **List of Dictionaries**       | `[{'A': 1, 'B': 4}, {'A': 2, 'B': 5}]`   | Row-oriented | **Use Case**: Common for row-wise data like JSON records or data fetched from APIs. Easy to update, but may have inconsistencies if some rows have missing keys. |
| **List of Tuples**             | `[(1, 4), (2, 5), (3, 6)]`               | Row-oriented | **Use Case**: Often used for data returned from databases (e.g., SQL query results). Immutable tuples ensure the data remains unchanged once initialized.          |
| **Dictionary of Lists/Arrays** | `{'A': [1, 2, 3], 'B': [4, 5, 6]}`       | Columnar     | **Use Case**: Ideal for structured columnar data (e.g., data from CSV or Excel). Efficient for data manipulation where column-wise operations are needed.         |
| **Dictionary of Dictionaries** | `{0: {'A': 1, 'B': 4}, 1: {'A': 2}}`     | Row-oriented | **Use Case**: Useful when row indices are important or explicitly referenced (e.g., with unique IDs or timestamps). May require more processing for missing data.   |
| **List of Lists**              | `[[1, 4], [2, 5], [3, 6]]`               | Row-oriented | **Use Case**: Basic structure for simple row-wise data (e.g., unstructured CSVs without headers). Requires separate column names to make sense of the data.         |
| **Dictionary of Tuples**       | `{'A': (1, 2, 3), 'B': (4, 5, 6)}`       | Columnar     | **Use Case**: Rarely used, but tuples are immutable, so this structure is useful when data should not be modified after initialization.                           |
| **Dictionary of Series**       | `{'A': pd.Series([1, 2]), 'B': ...}`     | Columnar     | **Use Case**: Common in pandas for building DataFrames from individual columns. Efficient for handling and manipulating large datasets column by column.            |

### Key Considerations:
- **Row-oriented** structures are often easier to manipulate for operations like appending new records (rows).
- **Columnar** structures are more efficient for **column-wise** operations, such as aggregations or filtering based on a column.
- The **List of Dictionaries** is flexible but can lead to inconsistencies (e.g., some dictionaries may lack certain keys).
- The **List of Tuples** and **Dictionary of Tuples** are useful when immutability is important.
- **Dictionary of Series** is highly optimized for data analysis in pandas, especially when handling large datasets with multiple operations on specific columns.

In [46]:
# Nested dictionary into Pandas dataframe

# Dictionary of Dictionaries (nested dictinaries)
countries = {
    "1": {"Country": "New Country 1",
          "Capital": "New Capital 1",
          "Population": "123,456,789"},
    "2": {"Country": "New Country 2",
          "Capital": "New Capital 2",
          "Population": "987,654,321"},
    "3": {"Country": "New Country 3",
          "Capital": "New Capital 3",
          "Population": "111,222,333"}
}


# using from_dict(orient='index')
df=pd.DataFrame.from_dict(countries,orient='index')
print(df)


# List of nested dictionary initialization
list_d = [{
        "Student": [{"Exam": 90, "Grade": "a"},
                    {"Exam": 99, "Grade": "b"},
                    {"Exam": 97, "Grade": "c"},
                    ],
        "Name": "Paras Jain"
        },
        {
        "Student": [{"Exam": 89, "Grade": "a"},
                    {"Exam": 80, "Grade": "b"}
                    ],
        "Name": "Chunky Pandey"
        }
        ]


# new list named “rows” is initialized to store flattened data. 
# The code iterates through the original list of dictionaries, 
# extracting each student’s exam details along with their name 
# and appends the flattened rows to create a Pandas DataFrame, which is then displayed.


# rows list initialization
rows = []
 
# appending rows
for data in list_d:
    data_row = data['Student']
    time = data['Name']
 
    for row in data_row:
        row['Name'] = time
        rows.append(row)

# it is important to convert such kind of data into a type which is recognized by DataFrame(), 
# like here we are converting into dictionory of dictionaries

print(rows)

# using data frame
df = pd.DataFrame(rows)
 
print(df)

df=df.pivot_table(index='Name', columns=['Grade'], values=['Exam']).reset_index()
df.columns=['Name','Maths','Physics','Chemistry']
print(df)

         Country        Capital   Population
1  New Country 1  New Capital 1  123,456,789
2  New Country 2  New Capital 2  987,654,321
3  New Country 3  New Capital 3  111,222,333
[{'Exam': 90, 'Grade': 'a', 'Name': 'Paras Jain'}, {'Exam': 99, 'Grade': 'b', 'Name': 'Paras Jain'}, {'Exam': 97, 'Grade': 'c', 'Name': 'Paras Jain'}, {'Exam': 89, 'Grade': 'a', 'Name': 'Chunky Pandey'}, {'Exam': 80, 'Grade': 'b', 'Name': 'Chunky Pandey'}]
   Exam Grade           Name
0    90     a     Paras Jain
1    99     b     Paras Jain
2    97     c     Paras Jain
3    89     a  Chunky Pandey
4    80     b  Chunky Pandey
            Name  Maths  Phsics  Chemistry
0  Chunky Pandey   89.0    80.0        NaN
1     Paras Jain   90.0    99.0       97.0

day2 end: next day start point:</br>
create a new file, and there summarize all the above create dataframe syntex</br>
https://www.geeksforgeeks.org/replace-values-in-pandas-dataframe-using-regex/?ref=next_article